<h1><%= link_to "Home", "/"%></h1>
<p>Suggested Listening: <br>
"Ryo Fukui  | <em>Scenery</em>"<br>
"Volfpeck   | <em>Fuege State</em>"<br>
"Ben Prunty | <em>Cipher</em>"<br></p>

<ul>
  <% blog.tags.each do |tag, articles| %>
    <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
  <% end %>
</ul>

