<h1><%= link_to "Home", "/"%></h1>
<p>Suggested Listening: <br>
<ul>
  <% data.suggested_listening.songs.each do |s| %>
    <li><%= s %></li>
  <% end %>
</ul>

<ul>
  <% blog.tags.each do |tag, articles| %>
    <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
  <% end %>
</ul>

